.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header__logo {
    height: 40px;
    object-fit: contain;
    margin-top: 20px;
}

.header__input {
    display: flex;
    align-items: center;
    width: 40%;
    border: 1px solid grey;
}

.header__input>input {
    flex: 1;
    border: none;
}

.header__inputButton {
    width: 50px !important;
    border-left: 1px solid grey;
    color: gray;
}

.header__icons {
    display: flex;
    align-items: center;
}